*{
    font-family: serif;
}

#title1{
    font-size: x-large;
    text-align: center;
    border: 5px dotted red;
   
}

body{
    background-image: url('http://www.clker.com/cliparts/K/C/r/p/W/o/grey-oak-tree-hi.png');
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: top left;
    color: azure;
    overflow-y: scroll;
}

#firstPar{
    text-align: center;
    font-size: 20px;
    padding-left: 600px;
    padding-right: 300px;
    margin-top: 2cm;
    text-align: justify;
    text-align-last: right;
    text-indent: 50px;
    letter-spacing: 3px;
}

#secondPar{
    text-align: center;
    font-size: 25px;
    padding-left: 600px;
    padding-right: 300px;
    margin-top: 1cm; 
    text-align: justify;
    text-align-last: left;
}

#secondParOne{
    color: black;
    text-align: center;
    padding-left: 600px;
    padding-right: 300px;
    margin-top: 1cm; 
    text-align: justify;
}

#thirdPar{
    text-decoration-style: wavy;
    text-align: center;
    padding-left: 400px;
    padding-right: 500px;
    text-align: justify;
    text-shadow: 2px 2px #ff0000;
}

#fourthPar{
    color: yellow;
    text-align: center;
    padding-left: 300px;
    padding-right: 600px;
    margin-top: 1cm; 
    text-align: justify;
}

